$primary: #91cd5b !default;
$color-primary: #20232a;
$component-active-color: $color-primary !important;
$carousel-control-color: $primary;
$carousel-indicator-active-bg: $primary;
$carousel-caption-color: $color-primary;
